[submodule "my_plugins/jedi-vim"]
	path = my_plugins/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "my_plugins/supertab"]
	path = my_plugins/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux.git
